@model Blog.Models.NoteModel

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/IndexNotes.css" rel="stylesheet" />

@Html.HiddenFor(model => model.Id) 

<div class="notas">
    <br />
    <br />
    <center>
        <p2 id="titulo">@Model.Title</p2>
    </center>

    <p3 id="fecha">@Model.Date</p3>

    <p4 id="descripcion">@Html.Raw(Model.Description)</p4>

    <br />

    <br />
    <div class="comentarios">
        <p4 id="comentario" style="color: #FE3A00;">Comentarios</p4>
        <br />
        @foreach (var item in Model.Commments)
        {
            @Html.TextAreaFor(x => item.Description, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
            <br />
        }
        
        
        @Html.ActionLink("Añadir comentario", "Comment", new {@id= Model.Id})
        
    </div>    

    <br />
</div>     
