@using Blog.Models

@{
    ViewBag.Title = "Index";
}

@model IList<Category> 
<h2>Categorias</h2>

@Html.ActionLink("Crear nueva Categoria", "Create")

<table id="grid-data" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="id" data-type="numeric">ID</th>
            <th data-column-id="sender">Nombre</th>
            <th data-column-id="received" data-order="desc">Descripción</th>
            <th data-column-id="link" data-formatter="link" data-sortable="false">Activa</th>
        </tr> 

       
               @foreach (var category in Model)
               {    
                 <tr>
                     <td>@category.Id</td>
                     <td>@category.Name</td>
                     <td>@category.Description</td>
                     <td>@category.Active</td>
                     <td>@Html.ActionLink("Editar", "Edit", new { id = category.Id })</td>
                     <td>@Html.ActionLink("Eliminar", "")</td>

                 </tr>
                  
               }

       
    </thead>
</table>

